# Pip requirements file for building docs of macos-oslog project on RTD.
#
# The order of packages is significant, because pip processes them in the order
# of appearance.

-r requirements.txt

# Sphinx (no imports, invoked via sphinx-build script):
Sphinx>=3.5.4,!=4.0.0; python_version >= '3.5' and python_version <= '3.9'
Sphinx>=4.2.0; python_version >= '3.10'
docutils>=0.13.1; python_version >= '3.5' and python_version <= '3.9'
docutils>=0.14; python_version >= '3.10'
sphinx-git>=10.1.1
GitPython>=2.1.1
sphinxcontrib-fulltoc>=1.2.0
sphinxcontrib-websupport>=1.1.2
Pygments>=2.5.1; python_version >= '3.5'
sphinx-rtd-theme>=0.5.0
# autodocsumm before 0.2.5 fails on Python 3.10 with TypeError
autodocsumm>=0.1.13; python_version >= '3.5' and python_version <= '3.9'
autodocsumm>=0.2.5; python_version >= '3.10'
# Babel 2.7.0 fixes an ImportError for MutableMapping which starts failing on Python 3.10
Babel>=2.7.0
